/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../sass/sass/screen.scss */
body {
  font: 11px Arial, Helvetica, sans-serif;
  color: #969696;
  background: #0d1517 url(../images/bg.jpg) no-repeat top fixed;
}

/* line 10, ../../../sass/sass/screen.scss */
a {
  outline: 0;
  color: #1e87C8;
  text-decoration: none;
}
/* line 15, ../../../sass/sass/screen.scss */
a:hover, a:active, a:focus {
  color: #00afff;
  text-decoration: underline;
}

/* line 21, ../../../sass/sass/screen.scss */
.container {
  width: 980px;
  margin: 0 auto;
  padding: 10px;
  background: #222;
  border: 1px solid #555;
  margin-top: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 30, ../../../sass/sass/screen.scss */
.container .header {
  height: 200px;
  background: #000;
  margin-bottom: 10px;
}
/* line 36, ../../../sass/sass/screen.scss */
.container .sidebar {
  float: left;
  width: 200px;
  min-width: 200px;
  min-height: 100px;
}
/* line 42, ../../../sass/sass/screen.scss */
.container .sidebar h2.title {
  background: url(../images/box-top.png) no-repeat;
  height: 25px;
  font-size: 12px;
  color: #fff;
  padding-left: 12px;
  padding-top: 7px;
}
/* line 51, ../../../sass/sass/screen.scss */
.container .sidebar .box {
  background: #252525;
  border: 1px solid #3c3c3c;
  border-top: 0;
  margin-bottom: 10px;
  position: relative;
}
/* line 58, ../../../sass/sass/screen.scss */
.container .sidebar .box:last-child {
  margin-bottom: 0;
}
/* line 62, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege {
  padding: 5px;
  padding-top: 0;
}
/* line 66, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .mark {
  width: 70px;
  float: left;
}
/* line 70, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .mark img {
  padding: 2px;
  width: 60px;
  height: 60px;
  border: 1px solid #1d1d1d;
}
/* line 76, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .mark img:hover {
  background: #005cff;
}
/* line 82, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .detail {
  width: 115px;
  float: left;
}
/* line 87, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .detail ul li {
  display: block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  padding: 4px 3px;
  color: #969696;
}
/* line 94, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .detail ul li:first-child {
  border-top: 0;
}
/* line 98, ../../../sass/sass/screen.scss */
.container .sidebar .box.castle-siege .detail ul li:last-child {
  border-bottom: 0;
}
/* line 107, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.server-list li {
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  padding: 2px 5px;
  overflow: auto;
}
/* line 113, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.server-list li:first-child {
  border-top: 0;
}
/* line 117, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.server-list li p.name {
  margin-bottom: 3px;
}
/* line 123, ../../../sass/sass/screen.scss */
.container .sidebar .box .total-online {
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  padding: 5px;
}
/* line 129, ../../../sass/sass/screen.scss */
.container .sidebar .box .control-panel {
  padding: 5px;
  padding-top: 0;
}
/* line 133, ../../../sass/sass/screen.scss */
.container .sidebar .box .control-panel ul {
  margin-top: 5px;
}
/* line 140, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.menu a {
  display: block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  text-decoration: none;
  line-height: 24px;
  height: 25px;
  padding-left: 10px;
  color: #969696;
}
/* line 150, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.menu a:hover {
  background: #1e1e1e;
}
/* line 155, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.menu li:first-child a {
  border-top: 0;
}
/* line 161, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.list li {
  display: block;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  line-height: 23px;
  height: 25px;
  padding-left: 10px;
  color: #969696;
}
/* line 170, ../../../sass/sass/screen.scss */
.container .sidebar .box ul.list li:first-child {
  border-top: 0;
}
/* line 179, ../../../sass/sass/screen.scss */
.container .content {
  float: left;
  width: 548px;
  margin: 0 10px;
  padding: 5px;
  background: #252525;
  border: 1px solid #3c3c3c;
}
/* line 187, ../../../sass/sass/screen.scss */
.container .content h1 {
  font-size: 12px;
  padding: 3px;
  border-bottom: 1px solid #115d91;
  font-weight: normal;
  color: #fff;
  margin-bottom: 5px;
}

/* line 198, ../../../sass/sass/screen.scss */
.footer {
  text-align: center;
  padding-top: 12px;
  height: 40px;
  width: 1000px;
  margin: 0 auto;
}

/* line 207, ../../../sass/sass/screen.scss */
form label {
  display: block;
}
/* line 211, ../../../sass/sass/screen.scss */
form input[type=text], form input[type=password] {
  background: #555;
  border: 1px solid #000;
  padding: 3px;
  width: 180px;
  color: #fff;
}
/* line 219, ../../../sass/sass/screen.scss */
form input[type=submit] {
  font-weight: bold;
  border: 1px solid #1d1d1d;
  background: #005cff;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 2px;
  cursor: pointer;
  padding: 3px 10px;
}
/* line 230, ../../../sass/sass/screen.scss */
form input[type=submit]:hover {
  border: 1px solid #000;
}
/* line 235, ../../../sass/sass/screen.scss */
form .loading {
  width: 16px;
  height: 16px;
  background: url(../images/loading.gif) center center no-repeat;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  margin-top: -4px;
}

/* line 246, ../../../sass/sass/screen.scss */
table {
  width: 100%;
}
/* line 250, ../../../sass/sass/screen.scss */
table.list th {
  background: #0088cc;
  color: #fff;
  padding: 5px;
  text-weight: bold;
  text-align: center;
}
/* line 258, ../../../sass/sass/screen.scss */
table.list tr {
  background: #333;
}
/* line 261, ../../../sass/sass/screen.scss */
table.list tr:nth-child(2n) {
  background: #252525;
}
/* line 266, ../../../sass/sass/screen.scss */
table.list td {
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid #444;
}

/* line 274, ../../../sass/sass/screen.scss */
.message {
  margin-bottom: 5px;
  padding: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid;
}
/* line 280, ../../../sass/sass/screen.scss */
.message.error {
  color: #f05b63;
  border-color: #ebb1b1;
  background-color: #ffebe8;
}

/* line 288, ../../../sass/sass/screen.scss */
.shop-itens .item {
  width: 129px;
  margin: 3px;
  border: 1px solid #444;
  float: left;
}
/* line 294, ../../../sass/sass/screen.scss */
.shop-itens .item .name {
  background: #115d91;
  color: #fff;
  padding: 4px;
  text-align: center;
  font-weight: bold;
}
/* line 302, ../../../sass/sass/screen.scss */
.shop-itens .item .image {
  height: 100px;
  text-align: center;
  line-height: 100px;
}
/* line 307, ../../../sass/sass/screen.scss */
.shop-itens .item .image img {
  vertical-align: middle;
}
/* line 313, ../../../sass/sass/screen.scss */
.shop-itens .item .cash {
  border-top: 1px solid #444;
  padding: 4px;
  background: #222;
  color: #dfdf14;
}
/* line 319, ../../../sass/sass/screen.scss */
.shop-itens .item .cash a {
  float: right;
}

/* line 327, ../../../sass/sass/screen.scss */
.rankings .ranking {
  width: 170px;
  height: 80px;
  float: left;
  background: #222;
  margin: 2px;
  border: 1px solid #444;
  padding: 3px;
  position: relative;
}
/* line 337, ../../../sass/sass/screen.scss */
.rankings .ranking .image {
  width: 74px;
  float: left;
  height: 80px;
}
/* line 343, ../../../sass/sass/screen.scss */
.rankings .ranking .info {
  width: 96px;
  float: left;
}
/* line 348, ../../../sass/sass/screen.scss */
.rankings .ranking .info p.name {
  font-size: 13px;
  color: #1e87C8;
}
/* line 353, ../../../sass/sass/screen.scss */
.rankings .ranking .info p.race {
  font-size: 9px;
  margin-bottom: 6px;
}
/* line 360, ../../../sass/sass/screen.scss */
.rankings .ranking .info ul li {
  margin: 1px 0;
  font-size: 10px;
}
/* line 364, ../../../sass/sass/screen.scss */
.rankings .ranking .info ul li span {
  color: #fff;
}
/* line 367, ../../../sass/sass/screen.scss */
.rankings .ranking .info ul li span.online {
  color: green;
}
/* line 371, ../../../sass/sass/screen.scss */
.rankings .ranking .info ul li span.offline {
  color: red;
}
/* line 379, ../../../sass/sass/screen.scss */
.rankings .ranking .rank {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

/* line 392, ../../../sass/sass/screen.scss */
.pregress-bar .left, .pregress-bar .right {
  background: url(../images/progress-left-right.gif) no-repeat;
  height: 13px;
  width: 1px;
  display: block;
  float: left;
  position: relative;
}
/* line 401, ../../../sass/sass/screen.scss */
.pregress-bar .progress {
  background: url(../images/bg-progress.gif);
  height: 13px;
  display: block;
  float: left;
}
/* line 407, ../../../sass/sass/screen.scss */
.pregress-bar .progress .bg {
  display: block;
  float: left;
  height: 11px;
  margin: 1px 0;
  font-size: 9px;
  font-family: Arial;
  line-height: 11px;
  font-weight: bold;
  text-align: right;
  color: #000;
  letter-spacing: 1px;
}
/* line 420, ../../../sass/sass/screen.scss */
.pregress-bar .progress .bg.bg-green {
  background: url(../images/bg-green.gif);
}
/* line 424, ../../../sass/sass/screen.scss */
.pregress-bar .progress .bg.bg-red {
  background: url(../images/bg-red.gif);
}
/* line 428, ../../../sass/sass/screen.scss */
.pregress-bar .progress .bg.bg-blue {
  background: url(../images/bg-blue.gif);
}

/* line 435, ../../../sass/sass/screen.scss */
.block {
  padding: 2px;
  border: 1px solid #000;
  background: #222;
  font-size: 11px;
}

/* line 442, ../../../sass/sass/screen.scss */
.block-message {
  background: #444;
  border: 1px solid #000;
  padding: 5px;
  color: #fff;
}

/* line 449, ../../../sass/sass/screen.scss */
.clear {
  clear: both;
}

/* line 453, ../../../sass/sass/screen.scss */
.white {
  color: #fff;
}
