#rankings {

}

#rankings .ranking-character {
    position: relative;
    width: 233px;
    float: left;
    height: 88px;
    margin: 4px;
    border: 1px solid #000000;
    padding: 5px;
    -moz-box-shadow: 0 1px 10px #222222;
    -webkit-box-shadow: 0 1px 10px #222222;
    box-shadow: 0 1px 10px #222222;
}

#rankings .ranking-character .image {
    width: 78px;
    float: left;
}

#rankings .ranking-character .desc {
    width: 155px;
    float: left;
}

#rankings .ranking-character div {
    height: 14px;
}

#rankings .ranking-character .name {
    color: #CCCCCC;
    font-size: 13px;
    margin: 0;
}

#rankings .ranking-character .class {
    font-size: 9px;
}

#rankings .ranking-character .resets {
    margin: 2px 0;
}

#rankings .ranking-character span.bar {
    height: 8px;
    width: 60px;
    display: inline-block;
    border: 1px solid #111111;
}

#rankings .ranking-character span.progress {
    height: 8px;
    display: inline-block;
    background: url(../images/on_green.gif) bottom;
}

#rankings .ranking-character .rank {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #FFFFFF;
    font-size: 15px;
}

#rankings .ranking-character .level {

}

#rankings .ranking-character .status {

}

#rankings .ranking-character .guild {

}

#rankings .ranking-guild {
    position: relative;
    width: 233px;
    float: left;
    height: 70px;
    margin: 4px;
    border: 1px solid #000000;
    padding: 5px;
    -moz-box-shadow: 0 1px 10px #222222;
    -webkit-box-shadow: 0 1px 10px #222222;
    box-shadow: 0 1px 10px #222222;
}

#rankings .ranking-guild .image {
    width: 75px;
    float: left;
}

#rankings .ranking-guild .desc {
    width: 158px;
    float: left;
}

#rankings .ranking-guild div {
    height: 14px;
}

#rankings .ranking-guild .rank {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #FFFFFF;
    font-size: 15px;
}

#rankings .ranking-guild .name {
    color: #CCCCCC;
    font-size: 13px;
    margin: 0;
}

#rankings .ranking-guild .master {
    font-size: 9px;
}

#rankings .ranking-guild .count-members {

}